# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Pastas nativas geradas por "flutter create ."
# (regeneradas em cada máquina; não versionamos)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# Symbolication e obfuscation
app.*.symbols
app.*.map.json
